.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

 <div class="center-div">
 Ayoo I'm in the center of your screen ya fool
 </div>
